<%- include("partials/header.ejs") -%>
    
    <img 
    src="https://images.unsplash.com/photo-1661912267451-712c028d74a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" 
    class="image profile-pic grid-item" 
    alt="img"
    />

    <p class="about-me grid-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Pretium aenean pharetra magna ac placerat 
        vestibulum lectus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. 
        Dui nunc mattis enim ut tellus elementum sagittis. Arcu non odio euismod lacinia. Ante metus dictum at tempor. 
        Donec enim diam vulputate ut pharetra sit. Id aliquet lectus proin nibh nisl condimentum id venenatis a. Orci 
        sagittis eu volutpat odio. Tellus in hac habitasse platea dictumst. Libero enim sed faucibus turpis in eu mi bibendum neque. 
        Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Vitae sapien pellentesque habitant morbi. 
        Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Vitae aliquet nec ullamcorper sit amet risus nullam eget. Volutpat ac 
        tincidunt vitae semper quis lectus nulla at
    </p>

<%- include("partials/footer.ejs") -%>